@import url("colors.css");

.box {
  margin: 24px;
}

.window {
  background-color: @bg_h;
}

.option {
  background-color: @bg_h;
}

.title {
  margin-left: 5px;
}

.entry {
  margin-bottom: 12px;
  background-color: @bg_s;
  color: @fg;
}
