window box {
  background-color: transparent;
  border-radius: 25px;
  font-family: "JetBrainsMono Nerd Font";
}

button {
  border: 0;
  background-image: none;
  background-color: transparent;
}

.workspaces {
  margin-left: 5px;
}

.workspaceButton:first-child {
  margin-left: 10px;
}

.workspaceButton {
  color: #dcd7ba;
  padding: 0;
}

.wifiIcon {
  color: #7aa89f;
  font-size: 16px;
}

.audioIcon {
  color: #c0a36e;
  font-size: 16px;
  margin: 0px 10px 0px 10px;
}

.audioText {
  color: #dcd7ba;
  font-size: 14px;
}

.batteryIcon {
  color: #98bb6c;
  font-size: 16px;
  margin: 0px 10px 0px 10px;
}

.batteryText {
  color: #dcd7ba;
  font-size: 14px;
}

.dateIcon {
  color: #957fb8;
  font-size: 16px;
  margin: 0px 10px 0px 30px;
}

.dateText {
  color: #dcd7ba;
  font-size: 14px;
}

.timeIcon {
  color: #7fb4ca;
  font-size: 16px;
  font-family: "tabler-icons";
  margin: 0px 0px 0px 25px;
}

.timeText {
  color: #dcd7ba;
  font-size: 14px;
  margin: 0px 10px;
}
