@import "../../.cache/wal/colors-waybar.css";

* {
    color: @color7;
    border: 0px;
    border-radius: 0px;
    font-size: 12px;
    font-family: "Yantramanav";
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

button {
    border: none;
    border-radius: 0;
}
button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

tooltip{
    background-color: @background;
}

tooltip label{
    padding: 5px;
}

window#waybar {
    background-color: transparent;
}

#workspaces {
    margin: 0px 0px 8px 0px;
    padding: 0px 10px 0px 8px;
    background-color: @color2;
    border-radius: 10px;
}

#workspaces * {
    font-size: 11px;
}

#pulseaudio, #battery, #network, #clock, #custom-power {
  background-color: @foreground;
  color: @background;
  padding: 0px 10px;
}

#pulseaudio {
  border-radius: 25px 0px 0px 25px;
  padding-left: 13px;
}

#custom-power  {
  border-radius: 0px 25px 25px 0px;
}

#clock {
  padding: 0 5px;
}

#network {
  padding-right: 13px;
}

#custom-power {
  padding-right: 15px;
}
